# Sales of Child Car Seats

A simulated data set containing sales of child car seats at 400
different stores.

- `Sales`: Unit sales (in thousands) at each location

- `CompPrice`: Price charged by competitor at each location

- `Income`: Community income level (in thousands of dollars)

- `Advertising`: Local advertising budget for company at each location (in thousands of dollars)

- `Population`: Population size in region (in thousands)

- `Price`: Price company charges for car seats at each site

- `ShelveLoc`: A factor with levels Bad, Good and Medium indicating the quality of the shelving location for the car seats at each site

- `Age`: Average age of the local population

- `Education`: Education level at each location

- `Urban`: A factor with levels No and Yes to indicate whether the store is in an urban or rural location

- `US`: A factor with levels No and Yes to indicate whether the store is in the US or not

In [1]:
from ISLP import load_data
Carseats = load_data('Carseats')
Carseats.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [2]:
Carseats.shape

(400, 11)

In [3]:
Carseats.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [4]:
Carseats.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000