# U.S. News and World Report's College Data

Statistics for a large number of US Colleges from the 1995 issue
of US News and World Report.

- `Private`: A factor with levels No and Yes indicating private or public university

- `Apps`: Number of applications received

- `Accept`: Number of applications accepted

- `Enroll`: Number of new students enrolled

- `Top10perc`: Pct. new students from top 10% of H.S. class

- `Top25perc`: Pct. new students from top 25% of H.S. class

- `F.Undergrad`: Number of fulltime undergraduates

- `P.Undergrad`: Number of parttime undergraduates

- `Outstate`: Out-of-state tuition

- `Room.Board`: Room and board costs

- `Books`: Estimated book costs

- `Personal`: Estimated personal spending

- `PhD`: Pct. of faculty with Ph.D.â€™s

- `Terminal`: Pct. of faculty with terminal degree

- `S.F.Ratio`: Student/faculty ratio

- `perc.alumni`: Pct. alumni who donate

- `Expend`: Instructional expenditure per student

- `Grad.Rate`: Graduation rate

## Source

This dataset was taken from the StatLib library which is
maintained at Carnegie Mellon University. The dataset was used in
the ASA Statistical Graphics Section's 1995 Data Analysis
Exposition.

In [1]:
from ISLP import load_data
College = load_data('College')
College.columns

Index(['Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate'],
      dtype='object')

In [2]:
College.shape

(777, 18)

In [3]:
College.columns

Index(['Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate'],
      dtype='object')

In [5]:
College.describe().iloc[:,:4]

               Apps        Accept       Enroll   Top10perc
count    777.000000    777.000000   777.000000  777.000000
mean    3001.638353   2018.804376   779.972973   27.558559
std     3870.201484   2451.113971   929.176190   17.640364
min       81.000000     72.000000    35.000000    1.000000
25%      776.000000    604.000000   242.000000   15.000000
50%     1558.000000   1110.000000   434.000000   23.000000
75%     3624.000000   2424.000000   902.000000   35.000000
max    48094.000000  26330.000000  6392.000000   96.000000