# Credit Card Balance Data

A simulated data set containing information on 400 customers.

- `Income`: Income in $1,000’s

- `Limit`: Credit limit

- `Rating`: Credit rating

- `Cards`: Number of credit cards

- `Age`: Age in years

- `Education`: Education in years

- `Own`: A factor with levels No and Yes indicating whether the individual owns a home

- `Student`: A factor with levels No and Yes indicating whether the individual is a student

- `Married`: A factor with levels No and Yes indicating whether the individual is married

- `Region`: A factor with levels East, South, and West indicating the individual’s geographical location

- `Balance`: Average credit card balance in $


## Source

Simulated data. Many thanks to Albert Kim for helpful suggestions,
and for supplying a draft of the man documentation page on Oct 19,
2017.

In [1]:
from ISLP import load_data
Credit = load_data('Credit')
Credit.columns

Index(['ID', 'Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education',
       'Gender', 'Student', 'Married', 'Ethnicity', 'Balance'],
      dtype='object')

In [2]:
Credit.shape

(400, 12)

In [3]:
Credit.columns

Index(['ID', 'Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education',
       'Gender', 'Student', 'Married', 'Ethnicity', 'Balance'],
      dtype='object')

In [4]:
Credit.describe()

,ID,Income,Limit,Rating,Cards,Age,Education,Balance
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000,520.015000
std,115.614301,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207,459.758877
min,1.000000,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000,0.000000
25%,100.750000,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000,68.750000
50%,200.500000,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000,459.500000
75%,300.250000,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000,863.000000
max,400.000000,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000,1999.000000