# Credit Card Default Data

A simulated data set containing information on ten thousand
customers. The aim here is to predict which customers will default
on their credit card debt.
     
- `default`: A factor with levels ‘No’ and ‘Yes’ indicating whether
          the customer defaulted on their debt

- `student`: A factor with levels ‘No’ and ‘Yes’ indicating whether
          the customer is a student

- `balance`: The average balance that the customer has remaining on
          their credit card after making their monthly payment

- `income`: Income of customer

In [1]:
from ISLP import load_data
Default = load_data('Default')
Default.columns

Index(['default', 'student', 'balance', 'income'], dtype='object')

In [2]:
Default.shape

(10000, 4)

In [3]:
Default.columns

Index(['default', 'student', 'balance', 'income'], dtype='object')

In [4]:
Default.describe()

            balance        income
count  10000.000000  10000.000000
mean     835.374886  33516.981876
std      483.714985  13336.639563
min        0.000000    771.967729
25%      481.731105  21340.462903
50%      823.636973  34552.644802
75%     1166.308386  43807.729272
max     2654.322576  73554.233495

In [5]:
Default['student'].value_counts()

No     7056
Yes    2944
Name: student, dtype: int64