# New York Stock Exchange Data

Data consisting of the Dow Jones returns, log trading volume, and
log volatility for the New York Stock Exchange over a 20 year
period

- `date`: Date

- `day_of_week`: Day of the week

- `DJ_return`: Return for Dow Jones Industrial Average

- `log_volume`: Log of trading volume

- `log_volatility`: Log of volatility

- `train`: For the first 4,281 observations, this is set to `True`

## Source

- B. LeBaron and A. Weigend (1998), IEEE Transactions on Neural
Networks 9(1): 213-220.

In [1]:
from ISLP import load_data
NYSE = load_data('NYSE')
NYSE.columns

Index(['day_of_week', 'DJ_return', 'log_volume', 'log_volatility', 'train'], dtype='object')

In [2]:
NYSE.shape

(6051, 5)

In [3]:
NYSE.columns

Index(['day_of_week', 'DJ_return', 'log_volume', 'log_volatility', 'train'], dtype='object')

In [4]:
NYSE.describe()

         DJ_return   log_volume  log_volatility
count  6051.000000  6051.000000     6051.000000
mean      0.000177    -0.008336       -9.842713
std       0.008436     0.233684        0.753937
min      -0.047177    -1.322425      -13.127403
25%      -0.004640    -0.159956      -10.334196
50%       0.000125    -0.013249       -9.843592
75%       0.004792     0.131632       -9.379632
max       0.049517     1.039370       -7.477833