# Orange Juice Data

The data contains 1070 purchases where the customer either
purchased Citrus Hill or Minute Maid Orange Juice. A number of
characteristics of the customer and product are recorded.

     
- `Purchase`: A factor with levels 'CH' and 'MM' indicating whether
the customer purchased Citrus Hill or Minute Maid Orange
Juice

- `WeekofPurchase`: Week of purchase

- `StoreID`: Store ID

- `PriceCH`: Price charged for CH

- `PriceMM`: Price charged for MM

- `DiscCH`: Discount offered for CH

- `DiscMM`: Discount offered for MM

- `SpecialCH`: Indicator of special on CH

- `SpecialMM`: Indicator of special on MM

- `LoyalCH`: Customer brand loyalty for CH

- `SalePriceMM`: Sale price for MM

- `SalePriceCH`: Sale price for CH

- `PriceDiff`: Sale price of MM less sale price of CH

- `Store7`: A factor with levels 'No' and 'Yes' indicating whether
the sale is at Store 7

- `PctDiscMM`: Percentage discount for MM

- `PctDiscCH`: Percentage discount for CH

- `ListPriceDiff`: List price of MM less list price of CH

- `STORE`: Which of 5 possible stores the sale occured at

## Source

Stine, Robert A., Foster, Dean P., Waterman, Richard P. Business
Analysis Using Regression (1998). Published by Springer.

In [1]:
from ISLP import load_data
OJ = load_data('OJ')
OJ.columns

Index(['Purchase', 'WeekofPurchase', 'StoreID', 'PriceCH', 'PriceMM', 'DiscCH',
       'DiscMM', 'SpecialCH', 'SpecialMM', 'LoyalCH', 'SalePriceMM',
       'SalePriceCH', 'PriceDiff', 'Store7', 'PctDiscMM', 'PctDiscCH',
       'ListPriceDiff', 'STORE'],
      dtype='object')

In [2]:
OJ.shape

(1070, 18)

In [3]:
OJ.columns

Index(['Purchase', 'WeekofPurchase', 'StoreID', 'PriceCH', 'PriceMM', 'DiscCH',
       'DiscMM', 'SpecialCH', 'SpecialMM', 'LoyalCH', 'SalePriceMM',
       'SalePriceCH', 'PriceDiff', 'Store7', 'PctDiscMM', 'PctDiscCH',
       'ListPriceDiff', 'STORE'],
      dtype='object')

In [5]:
OJ.describe().iloc[:,:4]

       WeekofPurchase      StoreID      PriceCH      PriceMM
count     1070.000000  1070.000000  1070.000000  1070.000000
mean       254.381308     3.959813     1.867421     2.085411
std         15.558286     2.308984     0.101970     0.134386
min        227.000000     1.000000     1.690000     1.690000
25%        240.000000     2.000000     1.790000     1.990000
50%        257.000000     3.000000     1.860000     2.090000
75%        268.000000     7.000000     1.990000     2.180000
max        278.000000     7.000000     2.090000     2.290000