# Mid-Atlantic Wage Data

Wage and other data for a group of 3000 male workers in the
Mid-Atlantic region.

- `yearâ€™ Year that wage information was recorded

- `age`: Age of worker

- `maritl`: A factor with levels '1. Never Married', '2. Married', '3.
 '3. Widowed', '4. Divorced' and '5. Separated' indicating marital
 status

- `race`: A factor with levels '1. White', '2. Black', '3. Asian' and
 '4. Other' indicating race

- `education`: A factor with levels '1. < HS Grad', '2. HS Grad', 
 '3. Some College', '4. College Grad' and '5. Advanced Degree'
 indicating education level

- `region`: Region of the country (mid-atlantic only)

- `jobclass`: A factor with levels '1. Industrial' and '2.
 Information' indicating type of job

- `health`: A factor with levels '1. <=Good' and '2. >=Very Good'
 indicating health level of worker

- `health_ins`: A factor with levels '1. Yes' and '2. No' indicating
 whether worker has health insurance

- `logwage`: Log of workers wage

- `wage`: Workers raw wage

## Source

Data was manually assembled by Steve Miller, of Inquidia
Consulting (formerly Open BI). From the March 2011 Supplement to
Current Population Survey data.

See also: [re3data.org/repository/r3d100011860](https://www.re3data.org/repository/r3d100011860)

In [1]:
from ISLP import load_data
Wage = load_data('Wage')
Wage.columns

Index(['year', 'age', 'maritl', 'race', 'education', 'region', 'jobclass',
       'health', 'health_ins', 'logwage', 'wage'],
      dtype='object')

In [2]:
Wage.shape

(3000, 11)

In [3]:
Wage.columns

Index(['year', 'age', 'maritl', 'race', 'education', 'region', 'jobclass',
       'health', 'health_ins', 'logwage', 'wage'],
      dtype='object')

In [4]:
Wage.describe()

              year          age      logwage         wage
count  3000.000000  3000.000000  3000.000000  3000.000000
mean   2005.791000    42.414667     4.653905   111.703608
std       2.026167    11.542406     0.351753    41.728595
min    2003.000000    18.000000     3.000000    20.085537
25%    2004.000000    33.750000     4.447158    85.383940
50%    2006.000000    42.000000     4.653213   104.921507
75%    2008.000000    51.000000     4.857332   128.680488
max    2009.000000    80.000000     5.763128   318.342430