# Weekly S&P Stock Market Data

Weekly percentage returns for the S&P 500 stock index between 1990
and 2010.

- `Year`: The year that the observation was recorded

- `Lag1`: Percentage return for previous week

- `Lag2`: Percentage return for 2 weeks previous

- `Lag3`: Percentage return for 3 weeks previous

- `Lag4`: Percentage return for 4 weeks previous

- `Lag5`: Percentage return for 5 weeks previous

- `Volume`: Volume of shares traded (average number of daily shares
 traded in billions)

- `Today`: Percentage return for this week

- `Direction`: A factor with levels 'Down' and 'Up' indicating
 whether the market had a positive or negative return on a
 given week.

## Source

Raw values of the S&P 500 were obtained from Yahoo Finance and
then converted to percentages and lagged.

In [1]:
from ISLP import load_data
Weekly = load_data('Weekly')
Weekly.columns

Index(['Year', 'Lag1', 'Lag2', 'Lag3', 'Lag4', 'Lag5', 'Volume', 'Today',
       'Direction'],
      dtype='object')

In [2]:
Weekly.shape

(1089, 9)

In [3]:
Weekly.columns

Index(['Year', 'Lag1', 'Lag2', 'Lag3', 'Lag4', 'Lag5', 'Volume', 'Today',
       'Direction'],
      dtype='object')

In [5]:
Weekly.describe().iloc[:,:4]

              Year         Lag1         Lag2         Lag3
count  1089.000000  1089.000000  1089.000000  1089.000000
mean   2000.048669     0.150585     0.151079     0.147205
std       6.033182     2.357013     2.357254     2.360502
min    1990.000000   -18.195000   -18.195000   -18.195000
25%    1995.000000    -1.154000    -1.154000    -1.158000
50%    2000.000000     0.241000     0.241000     0.241000
75%    2005.000000     1.405000     1.409000     1.409000
max    2010.000000    12.026000    12.026000    12.026000